@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #F42619;
  --muted: #71717a;
  --muted-foreground: #f4f4f5;
  --accent: #f4f4f5;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer {
  .embla__slide {
    transition: transform 0.3s ease-in-out;
  }
}
